body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.slide1Img {
  width: 100%;
}

.slide2Img {
  width: 100%;
}

.slide3Img {
  width: 100%;
}

.leftArrow {
  width: 72px;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 10px;
  cursor: pointer;
}

.rightArrow {
  width: 72px;
  position: absolute;
  z-index: 1;
  top: 110px;
  right: 10px;
  cursor: pointer;
}

.imageAll {
  position: relative;
  display: flex;
  transition: all 0.6s;
  transform: translateX(-1395px);
}
